@import 'color';

.board-list {
  padding: 10px 0px;

  .header {
    p {
      padding: 10px 0px;
      font-weight: 600;
      color: $white;
      margin: 0;
    }

    .result {
      color: $main;
    }
  }

  .sort {
    margin: 10px 0;

    .sort_link {
      margin-right: 10px;
      display: inline-block;
      background: rgba($color: $secondary, $alpha: 0.7);
      text-decoration: none;
      color: $white;
      font-size: 600;
      padding: 2px 7px;
      border-radius: 3px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1, 1.1);
      }
    }

    .asc, .desc {
      background-color: rgba($color: $main, $alpha: 0.7);
    }
  }

  .advance-search {
    .search-btn {
      padding: 5px 7px;
      border-radius: 4px;
      background-color: rgba($color: $secondary, $alpha: 0.7);
      display: inline-block;
      width: fit-content;
      transition: 0.2s;
      margin-bottom: 5px;

      &:hover {
        background-color: rgba($color: $gray, $alpha: 0.7);
        cursor: pointer;
      }

      span {
        color: $white;
      }

      i {
        color: $white;
      }
    }

    .collapsed {
      background-color: rgba($color: $main, $alpha: 0.6);
    }

    #search-form {
      background-color: rgba($color: $gray, $alpha: 0.8);
      padding: 10px 10px;
      border-radius: 4px;

      .search-form-wrapper {
        form {
          display: flex;
          flex-wrap: wrap;

          label {
            font-weight: 550;
            color: $white;
          }

          .user-search {
            margin: 7px 0;
            width: 100%;

            input {
              width: 47%;
            }
          }

          .board-search {
            width: 23%;
            margin-right: 7px;

            .date {
              display: flex;

              input {
                margin-right: 7px;
              }

              .line {
                color: $white;
                font-weight: 600;
              }
            }
          }

          .date-search {
            margin-left: 20px;
            width: 35%;
          }
        }
      }
    }
  }

  .search-list {
    padding: 10px 0;

    .board {
      height: 120px;
      text-decoration: none;
      color: $white;
      display: flex;
      background-color: rgba($color: $secondary, $alpha: 0.7);
      border-radius: 4px;
      margin: 8px 0;
      transition: 0.2s;

      &:hover {
        background-color: rgba($color: $gray, $alpha: 0.7);
        transform: scale(1.03, 1.03);
      }

      .board-name {
        display: flex;
        border-radius: 4px;
        padding: 20px 20px;
        background-color: rgba($color: $lightblue, $alpha: 0.8);

        .number {
          position: relative;
          top: -10px;
          left: -10px;
          font-size: 13px;
          padding: 5px 5px;
          height: 30px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          background-color: rgba($color: $main, $alpha: 0.8);
          color: $white;

          .user-icon {
            margin-right: 4px;
          }
        }

        .name {
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-size: 18px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .board-info {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;

        .description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .created-at {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}

body {
  background-size: cover;
  background-image: asset_url("david-talley-RoXrHRQw-Mc-unsplash.jpg");
}
