@import 'cards/show';
@import 'cards/edit';

.list-wrapper {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;

  .list-content {
    box-shadow: $shadow 0 0 10px;
    background-color: rgba($color: $secondary, $alpha: 0.9);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;

    .list-header {
      justify-content: space-between;
      display: inline-flex;
      padding: 5px 0;
      cursor: pointer;

      .list-name {
        margin-left: 20px;
        span {
          font-weight: bold;
          font-size: large;
        }
      }

      .list-header-extras {
        margin: 0 5px;
        .list-menubtn {
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background-color: $grayitemhover;
          }

          i {
            padding: 0 8px;
            font-style: normal;
            font-size: 12px;
            color: rgb(77, 74, 74);
          }
        }
      }
    }

    .list-add-card {
      padding: 0 5px;

      .add-btn {
        padding: 5px 5px;
        margin: 5px 0 5px 0;
        border-radius: 3px;
        cursor: pointer;

        i {
          margin-right: 5px;
        }

        &:hover {
          background-color: $white;
        }
      }

      .btn {
        margin: 5px 2px;
      }
    }
  }
}

.list-sortable-placeholder {
  background: rgba(0, 0, 0, 0.274);
}
