<div id="label-<%= label.id %>" class="list-item dropdown text-right">
  <div id="label-content-<%= label.id %>" class="label dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= label.content %>
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownSearch">
    <%= render "labels/edit", label: label %>
  </div>
</div>
