@import 'color';
@import 'notification';

header {
  .header-container {
    background-color: $main;
    box-sizing: border-box;
    display: flex;
    padding: 2px;

    .header-item-container {
      display: flex;
      flex-grow: 1;
      flex-basis: 100%;
    }

    .header-item {
      margin: 0 3px;

      .dropdown-header {
        padding: 10px 0;
        text-align: center;
        color: $gray;
        font-size: 18px;
        border-bottom: 1px solid $gray;
      }

      .dropdown-content {
        margin: 10px 0;

        a {
          color: $main;
          padding: 10px 10px;
          border-end-start-radius: 3px;
          display: block;
          text-decoration: none;
          text-align: center;

          &:hover {
            background-color: $secondary;
          }
        }
      }
    }

    .header-item-btn {
      background-color: $grayitem;
      border-radius: 3px;
      color: $white;
      font-weight: 600;
      transition: 0.3s;

      &:hover {
        background-color: $grayitemhover;
      }
    }

    .home-button {
      a {
        color: $white;
      }
    }

    .board-options {
      .dropdown-menu {
        width: 300px;

        .table {
          padding: 0px 5px;

          .table-list {
            .list-header {
              margin: 10px 0;
              padding-left: 10px;
              color: $gray;
              text-align: center;
              font-size: 18px;
            }

            .collapse-btn {
              border: none;
              border-radius: 5px;
              display: inline;
              padding: 5px 5px;
              background-color: $gray;
            }

            .table-box {
              border-radius: 3px;
              margin-bottom: 5px;
              padding: 10px 10px;
              display: flex;
              border: 1px solid $secondary;
            }
          }
        }
      }
    }

    .search-form {
      margin: 0 3px 1px 3px;
      display: inline-flex;

      input {
        padding: 0 10px;
        border: none;
        border-radius: 4px;
        height: 100%;
      }

      button {
        border: none;
        border-radius: 3px;
        padding: 7px 12px;
        margin: 0 3px;
        cursor: pointer;
      }
    }

    .header-logo {
      display: block;
      margin: auto;
      position: relative;
      flex-shrink: 0;
      color: $white;
      font-size: 30px;
    }

    .current-user {
      .avatar {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }

      .user-info {
        border-bottom: 1px solid $gray;

        .user-name {
          display: block;
          font-size: 20px;
          color: $black;
        }

        .user-email {
          display: block;
          font-size: 16px;
          color: $gray;
        }
      }

      .dropdown-menu {
        width: 250px;

        ul {
          list-style-type: none;
        }
      }
    }

    .dropdown-toggle::after {
      display:none;
    }

    .dropdown-menu {
      padding: 0 20px;
    }
  }
}
