<% content_for :css do %>
  <%= stylesheet_link_tag "users/show", "data-turbolinks-track": "reload" %>
<% end %>

<%= provide :title, @user.name %>

<%= render "navigation" %>

<main>
  <div class="container">
    <% if current_user? @user %>
      <%= render "info" %>
    <% end %>
  </div>
</main>
