<div class="list-item">
  <div class="member">
    <div class="number">
      <span class="user-icon"><%= icon("fas", "users") %></span>
      <%= board.add_users.size %>
    </div>
  </div>
  <div class="item-name">
    <%= link_to board.name, board_path(board) %>
  </div>
</div>
