<div class="edit-section">
  <div class="attachment">
    <%= render partial: "attachments/form", locals: {tag: tag, attachment: attachment} %>
  </div>
  <%= link_to t(".attachment_list"), "#attachments", class: "expand-btn", "data-toggle": :collapse, role: :button, "aria-expanded": false %>
  <div class="collapse" id="attachments">
    <div class="card card-body" id="attachment-list">
      <%= render partial: "attachments/attachment", collection: tag.attachments.order_by_created_at %>
    </div>
  </div>
</div>
