<div class="edit-section">
  <div id="checklist">
    <%= render "checklists/add_form", tag: @tag %>
  </div>
  <%= link_to t(".checklists"), "#checklists", class: "expand-btn", "data-toggle": :collapse, role: :button, "aria-expanded": false %>
  <div class="collapse" id="checklists">
    <div class="card card-body">
      <%#= TO DO render "checklists" %>
    </div>
  </div>
</div>
