<div class="tag-info">
  <div class="tag-name">
    <h1 class="tag-<%= tag.id %>-name"><%= tag.name %></h1>
    <div class="info">
      <span><%= tag.deadline %></span>
    </div>
  </div>
  <div class="member">
    <%#= TO DO render "members" %>
  </div>
  <div class="tag-description">
    <p id="tag-description"><%= tag.description %></p>
  </div>
</div>
