<%#TO DO%>
<%#<div class="tag">
  <div class="activity">
    <div class="content">
      <span class="name">Tag name</span>
      <div class="info">
        <small>Date</small>
      </div>
      <div class="description">Board description</div>
    </div>
  </div>
</div>#>
