@import 'color';

.board-list {
  padding: 10px 0px;

  .header {
    p {
      padding: 10px 0px;
      font-weight: 600;
      color: $white;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    width: 25%;
    height: 100px;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 10px 10px;
    transition: 0.3s;
    background-color: rgba($color: $lightblue, $alpha: 0.7);
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    .item-name{
      height: 90%;
      display: flex;
      justify-content: center;

      a{
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: $white;
      }
    }

    .member{
      height: 10%;
      display: flex;
      justify-content: flex-end;

      .number{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: rgba($color: $main, $alpha: 0.9);
        color: $white;
      }
    }
  }

  .new-item {
    background-color: $lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

body {
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/cb/c2/2c/cbc22ca5a3d7568a742262639a9f6b3f.jpg");
}
