<div class="notification">
  <span class="text-danger"><%= notification.user.name %></span> <%= notification.content %>
  <div class="time">
    <small><%= notification.created_at.strftime Settings.date.hour %></small>
  </div>
</div>
