@import 'color';

#board-menu {
  position: fixed;
  right: 0;
  height: 100%;
  width: 0;
  background-color: $white;
  padding: 0;
  transition: 0.3s;
  z-index: 1000;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 20px;
      font-weight: 600;
    }

    #close-menu {
      cursor: pointer;
    }
  }

  .content {
    .item {
      padding: 10px 0;
      margin: 10px 0;
    }

    .description-wrapper {
      .description {
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          background-color: $secondary;
        }
      }
    }

    .label-wrapper {
      .label {
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;

        &:after{
          border: none;
          content: none;
        }

        &:hover {
          background-color: $secondary;
        }
      }

      .add-btn {
        width: 100%;
        border: none;
        padding: 5px 7px;
        border-radius: 4px;
        background-color: $whitesmoke;

        &:hover {
          background-color: $secondary;
        }
      }

      .dropdown-menu {
        padding: 10px 20px;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        button {
          width: 100%;
          margin: 5px 0px;
        }
      }
    }

    .search-wrapper {
      .add-btn {
        width: 100%;
        border: none;
        padding: 5px 7px;
        border-radius: 4px;
        background-color: $whitesmoke;

        &:hover {
          background-color: $secondary;
        }
      }

      .dropdown-menu {
        padding: 10px 20px;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        button {
          width: 100%;
          margin: 5px 0px;
        }
      }
    }

    .activities{
      max-height: 400px;
      overflow-y: auto;

      .activity {
        border-radius: 3px;
        padding: 10px 10px;
        margin-top: 5px;
        background-color: $secondary;

        .time {
          small {
            color: $gray;
          }
        }
      }
    }

    .close-board {
      text-align: center;
      margin: 80px auto;
    }
  }
}
