@import 'boards/menu';
@import 'color';
@import 'lists/list';

main {
  .board-info {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;

    .item {
      align-self: flex-start;
      padding: 5px 10px;
      display: flex;

      #edit {
        background-color: $main;
        border-radius: 3px;
        padding: 3px 5px;
        text-align: center;
        display: flex;
        align-items: center;
        align-self: flex-start;
        cursor: pointer;
      }

      .item-btn {
        padding: 10px 10px;
        background-color: $grayitem;
        border-radius: 3px;
        margin: 0 5px;
        border: none;
        color: $white;
        font-weight: 600;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: $grayitemhover;
        }
      }

      #board-name-form {
        display: none;
        padding: 0 10px;
      }

      #member-btn{
        .addmember{
          width: 250px;
          padding: 10px 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          button{
            width: 100%;
            margin-top: 5px;
          }
        }

        .member-list{
          display: flex;
          justify-content: center;
          width: 400px;

          .user{
            margin: 0 5px;
            background-color: $secondary;
            padding: 4px 6px;
            border-radius: 3px;
          }
        }

        .addmember{
          form{
            width: 100%;
          }
        }
      }
    }
  }

  .board-wrapper {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

body {
  background-size: cover;
  background-image: asset_url("hands-water-desk-1345089.jpg");
}

#edit-tag-modal {
  .modal-xl {
    max-width: 50%;
  }
}
