@import 'boards/menu';
@import 'color';
@import 'lists/list';

main {
  .board-info {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;

    .item {
      align-self: flex-start;
      padding: 5px 10px;
      display: flex;

      #edit {
        background-color: $main;
        border-radius: 10px;
        padding: 7px 7px 8px 8px;
        text-align: center;
        display: flex;
        align-items: center;
        align-self: flex-start;
        cursor: pointer;

        i {
          color: $white;
        }
      }

      .item-btn {
        padding: 10px 10px;
        background-color: $grayitem;
        border-radius: 3px;
        margin: 0 5px;
        border: none;
        color: $white;
        font-weight: 600;
        transition: 0.3s;
        cursor: pointer;
        align-self: flex-start;

        &:hover {
          background-color: $grayitemhover;
        }
      }

      #board-name-form {
        display: none;
        padding: 0 10px;
      }

      #member-btn {
        .addmember {
          width: 250px;
          padding: 10px 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          button {
            width: 100%;
            margin-top: 5px;
          }
        }

        .member-list {
          display: flex;
          justify-content: center;
          width: 400px;

          .user-wrapper {
            &:hover > .user-option {
              display: block;
            }
          }

          .user {
            margin: 0 5px;
            background-color: $secondary;
            padding: 4px 6px;
            border-radius: 3px;
          }

          .leader {
            border: 2px solid $main;
          }

          .user-option {
            background-color: $white;
            z-index: 100;
            position: absolute;
            display: none;
            padding: 10px 10px;
            border-radius: 4px;
            box-shadow: 0 3px 4px $brownsmoke;
            border: 1px solid $brownsmoke;
            cursor: pointer;

            a {
              color: $main;
              text-decoration: none;
            }
          }
        }

        .addmember {
          form {
            width: 100%;
          }
        }
      }

      .star {
        i {
          color: $white;
        }
        .starred {
          i {
            color: $yellow;
          }
        }
      }
    }
  }

  .board-wrapper {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .notmember {
    display: flex;
    justify-content: center;

    .notmember-btn {
      border-radius: 3px;
      padding: 5px 10px;
      background-color: rgba($color: $main, $alpha: 0.7);
      color: $white;
    }
  }
}

body {
  background-size: cover;
  background-image: asset_url("hands-water-desk-1345089.jpg");
}

#edit-tag-modal {
  .modal-xl {
    max-width: 50%;
  }
}

.ui-menu {
  z-index: 10000;
  background-color: $white;
  width: 200px;
  border: 1px solid $secondary;
  padding: 10px 10px;
  border-radius: 4px;
  max-width: 300px;
  overflow-y: scroll;
}

.ui-helper-hidden-accessible {
  display: none;
}
