@import 'boards/menu';
@import 'color';
@import 'lists/list';

main {
  .board-info {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;

    .item {
      align-self: flex-start;
      padding: 5px 10px;
      display: flex;

      #edit{
        background-color: $main;
        border-radius: 3px;
        padding: 3px 5px;
        text-align: center;
        display: flex;
        align-items: center;
        align-self: flex-start;
        cursor: pointer;
      }

      .item-btn {
        padding: 10px 10px;
        background-color: $grayitem;
        border-radius: 3px;
        margin: 0 5px;
        border: none;
        color: $white;
        font-weight: 600;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: $grayitemhover;
        }
      }

      #board-name-form{
        display: none;
        padding: 0 10px;
      }
    }
  }

  .board-wrapper {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

body {
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/cb/c2/2c/cbc22ca5a3d7568a742262639a9f6b3f.jpg");
}
