<div class="checklist-statistic <%= checklist_status card.checklists %>">
  <%= icon "far", "check-circle" %>
  <span id="checked-checklist"><%= card.checklists.checked.size %></span>/<span id="total-checklist"><%= card.checklists.size %></span>
</div>
