$main: #e87853;
$shadow: rgba(0,0,0,0.1);
$white: white;
$gray: gray;
$lightblue: lightblue;
$lightskyblue: lightskyblue;
$mediumaquamarine: mediumaquamarine;
$lightcyan: lightcyan;
$secondary: #ebe6e3;
$whitesmoke: whitesmoke;
$grayitem: rgba(255, 255, 255, 0.4);
$grayitemhover: rgba(255, 255, 255, 0.6);
