$main: #e87853;
$shadow: rgba(0,0,0,0.1);
$white: white;
$brownsmoke: #ebe6e3;
$gray: gray;
$lightblue: lightblue;
$lightskyblue: lightskyblue;
$mediumaquamarine: mediumaquamarine;
$lightcyan: lightcyan;
$secondary: #ebe6e3;
$whitesmoke: whitesmoke;
$grayitem: rgba(255, 255, 255, 0.4);
$grayitemhover: rgba(255, 255, 255, 0.6);
$chocolate: chocolate;
$lightcoral: lightcoral;
$red: red;
$border-tag-placeholder: #CCC;
$bg-tag-placeholder: #f7f2f4;
$tan: tan;
$taner: rgb(136, 99, 48);
$orange: orange;
$green: green
