$main: #e87853;
$shadow: rgba(0, 0, 0, 0.1);
$white: white;
$brownsmoke: #ebe6e3;
$gray: gray;
$lightblue: lightblue;
$lightskyblue: lightskyblue;
$mediumaquamarine: mediumaquamarine;
$lightcyan: lightcyan;
$secondary: #ebe6e3;
$whitesmoke: whitesmoke;
$grayitem: rgba(255, 255, 255, 0.4);
$grayitemhover: rgba(255, 255, 255, 0.6);
$chocolate: chocolate;
$lightcoral: lightcoral;
$red: red;
$bg-card-placeholder: rgba(252, 250, 251, 0.5);
$tan: tan;
$card-name-color: rgb(114, 73, 16);
$orange: orange;
$green: green;
$black: black;
$browngray: rgb(117, 96, 78);
$cardshadow: rgba(9, 30, 66, .25);
$yellow: yellow;
$bluegray: rgba(9, 30, 66, .04);
