@import 'bootstrap';
@import 'layouts/footer';
@import 'color';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $lightblue, $alpha: 0.2);
  height: 95vh;

  .logo {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    color: $main;
    font-size: 40px;
  }

  .form-wrapper {
    padding: 20px 20px;
    border-radius: 5px;
    background-color: $white;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px $secondary;

    .sign {
      text-align: center;
      padding: 10px 0;
      color: $gray;
      font-size: 20px;
    }

    .register {
      margin: 20px;
      display: block;
      text-align: center;
    }

    .sign-up {
      input {
        margin-top: 20px;
      }
    }

    .sign-in {
      input {
        margin-bottom: 20px;
      }
    }
  }

  .language {
    padding: 20px 0;
    display: flex;
    justify-content: center;

    select {
      width: 15%;
    }
  }
}
