@import 'bootstrap';
@import 'layouts/footer';
@import 'color';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $lightblue, $alpha: 0.2);
  height: 95vh;

  .logo {
    height: 100px;
    display: flex;
    justify-content: center;
    color: $main;
    font-size: 40px;
  }

  .form-wrapper {
    padding: 20px 20px;
    border-radius: 5px;
    background-color: $white;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px $secondary;

    form {
      width: 100%;
    }

    .signup {
      text-align: center;
      padding: 10px 0px;
      color: $gray;
      font-size: 20px;
    }

    input {
      margin: 0 0 20px 0;
    }

    .submit {
      width: 100%;
      display: block;
      margin: 10px 0px;
    }

    .register {
      display: block;
      text-align: center;
    }
  }

  .language {
    padding: 20px 0px;
    display: flex;
    justify-content: center;

    select {
      width: 15%;
    }
  }
}
