@import 'users/navigation';
@import 'color';

.activity {
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 3px;
  background-color: rgba($color: $lightblue, $alpha: 0.4);

  &:hover{
    background-color: rgba($color: $lightblue, $alpha: 0.6);
  }

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;

    .content {
      text-decoration: none;
      color: $main;
    }

    .date {
      text-decoration: none;
      color: $gray;
    }
  }
}
