@import 'color';

.info {
  padding: 20px 0px;

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  p {
    color: $gray;
  }
}

.form-wrapper {
  .section-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  form {
    label {
      font-weight: 600;
    }

    .avatar-upload {
      img {
        margin: 10px;
        width: 100px;
        height: 100px;
      }
    }
  }
}
